p#pogrubienie_pieczurczyk
{
	font-size: 36px;
	color: #965aff;
}
p#pochylona_pieczurczyk
{
	font-size: 41pt;
	color: #fabf66;
}
p#index_gorny_pieczurczyk
{
	font-size: 1,6cm;
	color: #aa8c02;
}
p#index_dolny_pieczurczyk
{
	font-size: 2,7cm;
	color: #46f0df;
}
p#mono_pieczurczyk
{
	font-size: 46px;
	color: #2adc65;
}
p#powiekszenie_pieczurczyk
{
	color: #643c98;
}
p#pomniejszenie_pieczurczyk
{
	color: #02a034;
}